<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>304351245458-5q67pq4d1csb4l1o1br1mk37eb0tiqfh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.304351245458-5q67pq4d1csb4l1o1br1mk37eb0tiqfh</string>
	<key>API_KEY</key>
	<string>AIzaSyBEwnKke2xBX_2M8fiiTXjE0EsODOrFzu4</string>
	<key>GCM_SENDER_ID</key>
	<string>304351245458</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demo1</string>
	<key>PROJECT_ID</key>
	<string>demo1-4ecdd</string>
	<key>STORAGE_BUCKET</key>
	<string>demo1-4ecdd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:304351245458:ios:349a1b6f972517aed7e24b</string>
</dict>
</plist>